<div class="grid pt-4">
	<div
		class="flex flex-column header-container col-12 md:col-6 z-5 justify-content-center align-items-center pt-8 md:p-8 gap-0 md:gap-3">
		<div>
			<h1 class="text-center text-2xl md:text-6xl">¡Hola y bienvenido a mi mundo
				digital!</h1>
			<h4 class="text-center text-sm md:text-xl font-light">Soy Julian Posada, un
				apasionado
				desarrollador con un ojo para la innovación y la elegancia en el código. Mi
				misión es transformar ideas en experiencias digitales impactantes.</h4>
		</div>

		<div class="mt-4">
			<shared-button [labelInput]="'Contactame'"></shared-button>
		</div>
	</div>
	<div
		class="flex flex-column header-container col-12 md:col-6 z-5 justify-content-end align-items-center md:align-items-start p-0 md:relative">
		<img src="../../../../../assets/foto_sin_fondo.png" alt="presentation.png" class="w-8 lg:w-7">
		<div class="absolute right-0 top-50 mr-5 mt-8 md:mt-0">
			<shared-social-button class="flex flex-column gap-5"></shared-social-button>
		</div>
	</div>
</div>