 <div
	class="flex flex-column justify-content-center align-items-center h-full">
	<div
		class="flex flex-column justify-content-center align-items-center md:align-items-end w-full title-container text-center md:pr-4">
		<h2 class="font-light md:text-4xl">Proyectos Recientes</h2>
		<p class="md:text-xl">Estos son los proyectos en los que he trabajado. Cada
			proyecto incluye una breve descripción del mismo.</p>
	</div>
	<div
		class="flex flex-wrap justify-content-center align-items-center py-5 gap-4">
		@for (project of projects; track $index) {
		<div
			class="card flex flex-column justify-content-between align-items-center border-round-2xl p-4 gap-1 h-20rem w-10 md:w-3">
			<div class="flex justify-content-center align-items-center h-full">
				<img class="shadow-8" [src]="project.icon" alt="project_image.png" width="200">
			</div>
			<div class="flex flex-column justify-content-center align-items-center text-center">

				<h3 class="font-light">{{ project.title }}</h3>
				<p class="font-light">{{ project.description }}</p>

				<a
					class="flex justify-content-center align-items-center gap-2 px-6 py-2 border-round text-white no-underline"
					[href]="project.url" target="_blank"><i
						class="pi pi-github
					"></i>Ver Código</a>

			</div>
		</div>
		}
	</div>
</div>