<div class="grid navbar-container">
	<div class="col-12 flex justify-content-between align-items-center h-full">

		<button type="button" class="checkbox px-4 border-none bg-transparent cursor-pointer"
			(click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen" aria-label="Abrir menú">
			<i class="pi" [class.pi-bars]="!isMenuOpen" [class.pi-times]="isMenuOpen"></i>
		</button>

		<div class="flex gap-4 px-8 links-container" [class.open]="isMenuOpen">
			@for (item of items; track $index) {
			<a class="no-underline text-white py-3" [routerLink]="item.routerLink"
				routerLinkActive="active" (click)="closeMenu()">{{ item.label }}</a>
			}
		</div>

		<a class="md:px-8" [routerLink]="''"><img
				src="../../../../assets/logotipo.png"
				width="150" /></a>

	</div>
</div>
