.grid {
	position: fixed;
	width: 100vw;
	z-index: 500;
	background: #00000080;
	backdrop-filter: blur(10px);
}

.checkbox {
	display: none;
}

img {
	filter: grayscale(100%) brightness(800%);
	user-select: none;
}

a {
	border-bottom: 1px solid transparent;
	transition: all ease 700ms;
	white-space: nowrap;
}

.links-container {
	flex-shrink: 0;
}

i {
	font-size: 2rem;
}

.active {
	border-bottom: 1px solid #00D691;
}

@media (max-width: 768px) {

	.checkbox {
		display: block;
		position: relative;
		z-index: 600;
	}

	.links-container {
		position: fixed;
		visibility: hidden;
		opacity: 0;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: #011618;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2.5rem !important;
		transition: opacity 300ms ease, visibility 300ms ease;
	}

	.links-container a {
		font-size: 1.5rem;
	}

	.links-container.open {
		visibility: visible;
		opacity: 1;
	}

}
