<div class="flex flex-column about-container">

	<div class="flex flex-column-reverse md:flex-row align-items-center col-12 m-0 pt-5 px-5">
		<div class="flex justify-content-center md:justify-content-start col-12 md:col-4">
			<img [src]="'assets/about.svg'" alt="imagen" width="200">
		</div>
		<div class="col-12 md:col-8">
			<h2 class="text-center md:text-right text-4xl md:text-5xl">Un poco sobre mi...</h2>
			<h4 class="text-center md:text-right text-xl md:text-2xl font-light">Un viaje por mi experiencia, un profesional en constante evolución.</h4>
		</div>
	</div>
	<div class="align-items-center col-12 m-0 px-6 text-base md:text-xl font-light">
		<p>Soy Julian Posada, un apasionado <span>desarrollador web</span> con 2 años de experiencia en el campo. Mi especialidad es crear sitios web y aplicaciones web que no solo son visualmente atractivas, sino también altamente funcionales y fáciles de usar.</p>
		<p>Además de mis habilidades técnicas, también soy un gran jugador de equipo. Me encanta trabajar con mis clientes para comprender sus necesidades y crear <span>soluciones</span> que superen sus expectativas.</p>
		<p>Estoy constantemente aprendiendo y actualizándome con las últimas <span>tecnologías y tendencias</span> del sector. Mi objetivo es proporcionar a mis clientes los mejores servicios posibles y ayudarles a alcanzar sus objetivos online.</p>
		<p>Si estás buscando un <span>desarrollador web</span> con experiencia, confiable y creativo, no dudes en contactarme. Estaré encantado de discutir tu proyecto y ofrecerte un presupuesto personalizado.</p>
	</div>

</div>